@font-face {
	font-family: "Walkway-UltraExpand";
	font-style:normal;
	font-weight:normal;
	src : url("fonts/Walkway-UltraExpand.ttf");
}
@font-face {
	font-family: "Quicksand_Bold";
	font-style:normal;
	font-weight:normal;
	src : url("fonts/Quicksand_Bold.otf");
}

body {
	  	background-color: red;
padding: 30px;
padding-top: 60px;
}

.carte {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	height: 150px;
	background-color: DarkTurquoise;
	padding: 0;
}

p. {
	font-size: 1rem;
	color: black;
}


.ultraExpanded {
		font-family: "Walkway-UltraExpand";

}
div.containerIndex {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: flex-end;
  flex-flow:row nowrap;
  align-items:stretch;
	padding: 0;
	width: 100%;

}

div.containerIndexIntro {
	box-sizing: border-box;
	flex-grow: 1;
  flex-basis: 35%;
}

div.containerIndexCV {
	box-sizing: border-box;
	flex-grow: 1;
  flex-basis: 65%;
}

div.plancheIndexCV {
	display: flex;
	box-sizing: border-box;
  clear: both;
}

div.plancheIndexIntro {
	display: flex;
	box-sizing: border-box;
  clear: both;
}

p.titreIntro {
		font-size: 6rem;
			line-height: 12vh;
		font-family: "Quicksand_Bold";
padding: 1rem;
margin: 0;
margin-right: 40%;
text-align: left;
color: red;
background: whitesmoke;
}

p.titreSection {
	font-size: 5rem;
	line-height: 6rem;
	font-family: "Quicksand_Bold";
color: black;

margin-top: 30px;
text-align: left;
}



p.titreOccupation {
	font-size: 1rem;
		line-height: 1rem;
	font-family: "Quicksand_Bold";
	color: black;
	padding: 0;
margin: 0;

}
p.lien {
		font-size: 1.25rem;
		font-family: "Quicksand_Bold";
		text-align: left;
		margin-top: 100px;
color: whitesmoke;
}
/*
#vert {

		background-color: green;

}*/