/* Couleurs: noir->#202020 jaune->#FAC73B  bleu->#4B97A3  rose->#E7605C  */


* {
    box-sizing: border-box;
 }

@font-face {
	font-family: "Quicksand_Bold";
	font-style:normal;
	font-weight:normal;
	src : url("fonts/Quicksand_Bold.otf");
}

@font-face {
	font-family: "Quicksand_Book";
	font-style:normal;
	font-weight:normal;
	src : url("fonts/Quicksand_Book.otf");
}

@font-face {
	font-family: "Quicksand_Medium";
	font-style:normal;
	font-weight:normal;
	src : url("fonts/Quicksand_Medium.ttf");
}

body {
		background-color: #202020;
		margin: 2em 3em 0 3em;
		padding: 0;	
	}

nav a { 
color: white; 
display: inline-block; 
width: 100%; 
text-align: center; 
	text-decoration: none;

}

footer {
	display: flex;
height: 150px;
width: 100%;

}

div.containerFooter {
	display: flex;
	flex-basis: 100%;
justify-content: center;
	align-self: center;
align-self: center;
align-items: center;
align-content: center;
}
p.footer {
	color: white;
	font-size: 1em;
		font-family: "Quicksand_Bold";
	border-top: 3px white solid;
	padding-top: 20px;
	text-align: center;
}

ul.navigation {

	display: flex;
}

nav {
	width: 100%;
}

div.contenantNavigation {
display: flex;
	font-family: "Quicksand_Bold";
}


ul.navigation {
display: flex;
  flex-direction: row;
}

ul.sansBullet {
	font-size: 1.25em;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */

}

li.nav-1 {
	font-size: 1.25em;
flex-grow: 8;
align-self: center;
}

li.nav-2 {
		font-size: 1.25em;
flex-grow: 1;
align-self: center;
min-width: 135px;
max-width: 135px;
}

li.nav-3 {
		font-size: 1.25em;
flex-grow: 1;
align-self: center;
min-width: 135px;
max-width: 135px;

}

li.nav-4 {
align-self: center;
padding-left: 1.5em;
}

li.nav-1 a {
	text-align: left;
}

li.nav-2 a, li.nav-3 a {
	font-family: "Quicksand_Book";
	text-align: right;

}

div.containerTitre {
	display: flex;
	flex-basis: 100%;
		height: 250px;
  flex-direction: row;
 	align-items: flex-end;
 	margin-top: 5em;
}

div.containerMenu {
	display: flex;
	flex-basis: 100%;
	height: 200px;
		max-width: 850px;
		min-width: 528px;
  flex-direction: row;
 	background-color: white;
 	align-items: center;
 	margin: 1em auto 12em auto;
}

div.menu {
	flex-basis: 100%;
	    font-size: 2.5vw;
		font-family: "Quicksand_Medium";

}

button.curriculum {
	font-family: "Quicksand_Book";
	display: flex;
	font-size: 7vh;
width: 90%;
margin: auto;
height: 80px;
border: none;
border-top: 1px black solid;
border-bottom: 1px black solid;
justify-content: center;
align-items: flex-end;
background-color: white;
}

button.portfolio {
		font-family: "Quicksand_Book";
font-size: 7vh;
	display: flex;
width: 90%;
margin: auto;
height: 80px;
border: none;
border-top: none;
border-bottom: 1px black solid;
justify-content: center;
align-items: flex-end;
background-color: white;

}

button a {
	color: #202020;
	text-decoration: none;
}

button.curriculum:hover {

	background-color: #FAC73B;
}


button.portfolio:hover {

	background-color: #E7605C;
}

div.titre{
	flex-basis: 50%;
	color: white;
	margin-right: .25em;
	font-family: "Quicksand_Bold";
}

div.quoi {
	flex-basis: 50%;
		margin-left: .25em;
	color: white;
		margin-bottom: 5px;
		font-family: "Quicksand_Medium";
}


button.cercle {
	background-color: #4B97A3;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	border: 1px #4B97A3 solid;
}



h1 {
	display: flex;
	margin: 0;
padding: 0;
	margin-right: 15px;
font-size: clamp(75px, 8vw, 100px);
line-height: .9em;
justify-content: right;

}

h2 {
margin: 0;
padding: 0;
font-size: clamp(30px, 5vw, 48px);
line-height: 1.2em;

}





@media only screen and (max-width: 700px) {

body {
width: 100%;
margin: 0;
padding: 0;
}

header {
	display: none;

}

div.containerTitre {
	display: flex;
	flex-basis: 100%;
		height: 250px;
		text-align: center;
			margin: 0 auto;
  flex-direction: column;
  align-content: center;
 	align-items: center;
 	 	margin-top: 5em;
}

div.titre{
	flex-basis: 50%;
	color: white;
	margin-right: 0;
	font-family: "Quicksand_Bold";
}

div.quoi {
	flex-basis: 50%;
		margin-left: 0;
	color: white;
		margin-bottom: 0;
		font-family: "Quicksand_Medium";
}
h1 {
	display: flex;
	margin: 0;
padding: 0;
	margin-right: 15px;
font-size: 7vh;
line-height: .9em;
justify-content: right;


}

h2 {
margin: 0;
padding: 0;
font-size: 3vh;
line-height: 1.2em;

}
div.containerMenu {
	display: flex;
	flex-basis: 100%;
	height: 200px;
		max-width: 850px;
		min-width: 300px;
  flex-direction: row;
 	background-color: white;
 	align-items: center;
 	margin: 1em auto 12em auto;
}

}

